@import url(http://weloveiconfonts.com/api/?family=entypo);
html,body{
  height:100%;  
}

.todolist{
  display: inline-block;
  vertical-align: middle;
  width: 20em;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.1);  
  font-family: 'Armata', sans-serif;
  font-weight:bold;
  color:#FAFAFA;
  overflow:hidden;
  /* border: 1em solid rgba(255, 255, 255, 0.04); */
  border-top-color: rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
}
input{
  position:absolute;
  left:-9999px;
}
.task{
  display:block;
  height:5em;
  transition: 500ms ease; 
}
label{
  position: relative;
  cursor: pointer;
  display: block;
  height: 100%;
  background: #F1654C;
  font-size:1.5em;
  line-height: 3.5em;
  transform-style: preserve-3d;
  perspective: 0;
  transform-origin: 150px 0 -150px;
  transition: 500ms ease;
}
label:after{
  content:"\2713";
  font-family: 'entypo', sans-serif;
  position:absolute;
  height:100%;
  width:100%;
  right:-100%;  
  transform-origin: 0 0 0;
  transform: rotateY(90deg);
}
label:before {
content: "";
position: absolute;
height: 100%;
width: 30%;
right: -15%;
background: rgba(0, 0, 0, 0);
z-index: 4;
transform: rotateY(45deg);
transition: 500ms ease;
}
.task:hover label:before{
  /* box-shadow: 0 -15px 20px -20px rgba(0, 0, 0, 0.2); */
}
.task:hover label{
transform: rotateY(-20deg);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset -3px 0px 0 rgba(0, 0, 0, 0.05);
}
.task:hover label:after{
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset 2px 0px 0 rgba(255, 255, 255, 0.2);}

.task:hover input:checked +label:after{
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
}
.task:hover input:checked + label{
  transform: rotateY(-70deg);
}

input:checked + label{
  transform: rotateY(-90deg);
}